 Welcome to SPORTS!!<br><br>


<h1> AFC EAST </h1>
<%= render partial: 'team_by_division', locals: {div: 'AFC East'} %>

<h1> AFC NORTH </h1>
<%= render partial: 'team_by_division', locals: {div: 'AFC North'} %>


<h1> AFC WEST </h1>
<%= render partial: 'team_by_division', locals: {div: 'AFC West'} %>


<h1> AFC SOUTH </h1>
<%= render partial: 'team_by_division', locals: {div: 'AFC South'} %>


<h1> NFC EAST </h1>
<%= render partial: 'team_by_division', locals: {div: 'NFC East'} %>


<h1> NFC NORTH </h1>
<%= render partial: 'team_by_division', locals: {div: 'NFC North'} %>


<h1> NFC WEST </h1>
<%= render partial: 'team_by_division', locals: {div: 'NFC West'} %>


<h1> NFC SOUTH </h1>
<%= render partial: 'team_by_division', locals: {div: 'NFC South'} %>
